---
interface Props {
  href?: string;
  title?: string;
  description?: string;
  tags?: string[];
  pubDate?: string;
}

const { title, description, href, tags, pubDate } = Astro.props;

function formatDate(dateString: string) {
  const options: Intl.DateTimeFormatOptions = { day: "numeric", month: "short", year: "numeric" };
  const date = new Date(dateString);
  return new Intl.DateTimeFormat("en-GB", options).format(date);
}
---

<a
  class="group flex w-full flex-col justify-between gap-2 rounded-md border border-border bg-muted px-4 py-3 text-foreground transition-colors hover:bg-accent"
  href={href}
>
  <div class="flex flex-col gap-1">
    <p class="text-sm font-medium group-hover:underline">
      {title}
    </p>
    <p class="text-xs text-muted-foreground">
      {description}
    </p>
  </div>
  {
    tags && (
      <div class="inline-flex gap-1.5">
        {tags.map((t) => (
          <span class="rounded-md border border-border bg-background px-2 py-0.5 text-xs">
            {t}
          </span>
        ))}
      </div>
    )
  }
  {pubDate && <span class="text-xs text-muted-foreground">{formatDate(pubDate)}</span>}
</a>
