---
import Post from "./Post.astro";
const posts = import.meta.glob("../pages/blog/*.mdx");
const allPosts = await Promise.all(
  Object.values(posts).map((importFn) => importFn())
);
---

<div class="not-prose flex flex-col gap-4">
  {
    allPosts
      .sort((a, b) => {
        return (
          new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime()
        );
      })
      .map((post) => (
        <Post
          href={post.url}
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          tags={post.frontmatter.tags}
          pubDate={post.frontmatter.pubDate}
        />
      ))
  }
</div>
